name: TypeScript Checker Declaration

# This action works with pull requests and pushes
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  typing:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Depends for pkg canvas
        run: sudo apt-get install build-essential libcairo2-dev libpango1.0-dev libjpeg-dev libgif-dev librsvg2-dev

      - uses: pnpm/action-setup@v2.0.1
        name: Install pnpm
        id: pnpm-install
        with:
          version: 7.25.1
          run_install: false

      - name: Install depends and run `auto-export`
        run: |
          pnpm i --no-frozen-lockfile
          cd packages/fcanvas
          pnpm auto-export
          pnpm build
          cd ../..
          pnpm build

      - name: Typing
        run: pnpm typing
